.title--white {
  color: #ffffff;
}

.title--grey {
  color: #8f96b9;
}

.container {
  margin: auto;
  height: 20rem;
  width: 70%;
}

.display--flex {
  display: flex;
  justify-content: space-between;
}

.display--space-between {
  justify-content: space-between;
}

.display--inline {
  display: inline-block;
}

.mainCardBlue {
  background-color: #262b41;
  width: 10rem;
  height: 10rem;
  padding: 1rem;
  margin: 1rem;
  text-align: center;
}

.mainCardLight {
  background-color: #f1f3f9;
  width: 10rem;
  height: 10rem;
  padding: 1rem;
  margin: 1rem;
  text-align: center;
}

.mainCardRed {
  background-color: #802c2c;
  width: 10rem;
  height: 10rem;
  padding: 1rem;
  margin: 1rem;
  text-align: center;
}

.smallCardBlue {
  background-color: #262b41;
  width: 10rem;
  height: 7rem;
  padding: 1rem;
  margin: 1rem;
}

.smallCardLight {
  background-color: #f1f3f9;
  width: 10rem;
  height: 7rem;
  padding: 1rem;
  margin: 1rem;
}

.smallCardRed {
  background-color: #802c2c;
  width: 10rem;
  height: 7rem;
  padding: 1rem;
  margin: 1rem;
}

.float--right {
  float: right;
}

.float--left {
  float: left;
}

.marginLeft--1 {
  margin-left: 1rem;
}

.marginTop--neg10 {
  margin-top: -10px;
}

.marginTop--neg15 {
  margin-top: -15px;
}

.marginTop--neg20 {
  margin-top: -20px;
}

.paddingLeft--03 {
  padding-left: 0.3rem;
}

.paddingLeft--07 {
  padding-left: 0.7rem;
}

.paddingRight--1 {
  padding-right: 1em;
}

.socialMediaIcon {
  text-align: right;
}

.textAlign--left {
  text-align: left;
}

.textAlign--right {
  text-align: right;
}

.text--thin {
  font-weight: 100;
  letter-spacing: 2px;
}

.text--lightGreen {
  color: #56b28b;
}

.text--lightRed {
  color: #cb4d51;
}

.text--black {
  color: black;
}

.text--white {
  color: white;
}

.text--grey {
  color: #8f96b9;
}

/* Toggle */

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
